<tr>
  <% classassignment.assignments.each do |a| %>
  <td></td>
  <td><%= a.user.name %></td>
  <% if a.due_date < Date.today && !a.complete %>
    <td bgcolor="yellow"><%= a.complete %></td> <!-- ## KLUDGE -->
  <% else %>
    <td><%= a.complete %></td>
  <% end %>
  <td><%= a.link %></td>
  <td><%= link_to 'Show', a %></td>
  <td><%= link_to 'Edit', edit_assignment_path(a) %></td>
  <td><%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
