<%= form_for(@class_assignment) do |f| %>
  <% if @class_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_assignment.errors.count, "error") %> prohibited this class_assignment from being saved:</h2>

      <ul>
      <% @class_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="small-8 columns">
    <%= f.label :title %><br>
    <%= f.text_field :title %>

    <%= f.label :description %><br>
    <%= f.text_area :description %>

    <%= f.label :assigned %><br>
    <%= f.date_select :assigned %>

    <%= f.label :due %><br>
    <%= f.date_select :due %>

    <%= f.submit "Submit" %>
  </div>
</div>
<% end %>
