<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @class_assignment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @class_assignment.description %>
</p>

<p>
  <strong>Assigned:</strong>
  <%= @class_assignment.assigned %>
</p>

<p>
  <strong>Due:</strong>
  <%= @class_assignment.due %>
</p>

<p>
  <strong>Assignees:</strong>
  <%= assignees %>
  <% assignees.each do |a| %>
    <li><%= a.name %>'s assignment is <%= complete?(a) %>
    <!-- # is a's version of this assignment complete -->
  <% end %>
</p>

<%= link_to 'Edit', edit_class_assignment_path(@class_assignment) %> |
<%= link_to 'Back', class_assignments_path %>
