<p>
  <strong>Title:</strong>
  <%= @class_assignment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= formatted_description(@class_assignment) %>
</p>

<p>
  <strong>Assigned:</strong>
  <%= @class_assignment.assigned %>
</p>

<p>
  <strong>Due:</strong>
  <%= @class_assignment.due %>
</p>

<p>
  <strong>Assignees:</strong>
  <% assignees.each do |a| %>
    <li><%= a.name %>'s assignment is <%= complete?(a) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_class_assignment_path(@class_assignment) %> |
<%= link_to 'View all class assignments', class_assignments_path %>
