<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-4 column left">
    <strong>Name:</strong>
    <%= @user.name %>
  </div>

  <div class="small-4 column left">
    <strong>Email:</strong>
    <%= @user.email %><br><br> <!-- ## kludge! -->
  </div>
</div>

<div class="row">
  <div class="small-8 column">
  <strong>Outstanding assignments:</strong>
    <ul>
    <% outstanding_assignments.each do |a| %>
      <li><div class="<% a.late? %>"><%= link_to a.title, assignment_path(a) %>, due <%= a.due_date %></div></li>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">
<div class="small-8 column">
    <strong>Completed assignments:</strong>
  <ul>
    <% completed_assignments.each do |a| %>
      <li><%= link_to a.title, assignment_path(a) %></li>
    <% end %>
  </ul>
</p>
</div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
