<div class="row">
  <div class="small-4 column left">
    <strong>Name:</strong>
    <%= @user.name %>
  </div>

  <div class="small-4 column left">
    <strong>Email:</strong>
    <%= @user.email %><br><br> <!-- ## kludge! -->
  </div>
</div>

<% if current_user.admin? %>

  <% if @class_assignments.any? %>
    <tbody>
    <%= render partial: 'assignments/class_assignments', locals: {class_assignments: @class_assignments} %>
    </tbody>
  <% else %>
    <p>No class assignments!  <%= link_to "Make one?", new_class_assignment_path %>
  <% end %>

<% else %>
<div class="row">
  <div class="small-8 column">
  <strong>Outstanding assignments:</strong>
  <% if outstanding_assignments.none? %>
  <p>Nothing due!</p>
  <% else %>
    <ul>
    <% outstanding_assignments.each do |a| %>
      <li><div class="<%= a.late? %>"><%= link_to a.title, assignment_path(a) %>, due <%= a.due_date %></div></li>
    <% end %>
    <% end %>
    </ul>
  </div>
</div>

<% if completed_assignments.any? %>
<div class="row">
<div class="small-8 column">
    <strong>Completed assignments:</strong>
  <ul>
    <% completed_assignments.each do |a| %>
      <li><%= link_to a.title, assignment_path(a) %></li>
    <% end %>
  </ul>
</p>
</div>
</div>
<% end %>
<% end %>
