<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Outstanding assignments:</strong>
    <ul>
    <% outstanding_assignments.each do |a| %>
    <% if a.due_date < Date.today %>
      <li><div style="background:yellow"><%= a.title %>, due <%= a.due_date %></div></li> <!-- ## gross -->
    <% else %>
      <li><%= a.title %>, due <%= a.due_date %></li>
    <% end %>
    <% end %>
    </ul>
</p>

<p>
  <strong>Completed assignments:</strong>
  <ul>
    <% completed_assignments.each do |a| %>
      <li><%= a.title %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
